/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

html {
    box-sizing: border-box;
}

body {
    background-image: -webkit-gradient(linear, left top, right bottom, from(aqua), to(purple));
    background-image: -webkit-linear-gradient(top, white, end-color);
    background-image: -moz-linear-gradient(top, purple, end-color);
    background-image: linear-gradient(to bottom, purple, end-color);
}

.heading{
    font-family: VivaBeautiful;
    font-size: 125px;
}

/*video {
    width: 620px;
    border: 30px solid white;
    box-shadow: 10px 10px 20px rgba(0,0,0,.5);
    border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" ><defs><linearGradient id="lgrad" x1="0%" y1="100%" x2="100%" y2="0%" ><stop offset="0%" style="stop-color:rgb(255,0,255);stop-opacity:1" /><stop offset="100%" style="stop-color:rgb(0,255,255);stop-opacity:1" /></linearGradient> </defs><rect x="0" y="0" width="100%" height="100%" fill="url(#lgrad)"/></svg>') 10% stretch;
    padding: 0;
    margin: 0;
    
}*/

#galleryDiv {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.galleryImage {
	height: 350px;
}

@font-face {
    font-family: VivaBeautiful;
    src: url(../../VivaBeautiful.ttf);
}


/*experimental logo*/

.stage {
	height: 240px;
	width: 500px;
	margin: auto;
	perspective: 9999px;
	transform-style: preserve-3d;
}

.layer {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: nice 5s infinite alternate ease-in-out -7.5s;
	animation-fill-mode: forwards;
	transform: rotateY(20deg) rotateX(13deg) translateZ(0);
}

.layer:after {
	font-size: 150px;
	font-family: VivaBeautiful, sans-serif;
	content: 'Go-On!';
	white-space: pre;
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50px;
	color: whitesmoke;
	letter-spacing: -2px;
	text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
	transform: translateZ(0px);
}

.layer:nth-child(2):after {
	transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
	transform: translateZ(-3px);
}

.layer:nth-child(4):after {
	transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
	transform: translateZ(-6px);
}

.layer:nth-child(6):after {
	transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
	transform: translateZ(-9px);
}

.layer:nth-child(8):after {
	transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
	transform: translateZ(-12px);
}

.layer:nth-child(10):after {
	transform: translateZ(-13.5px);
}

.layer:nth-child(n+5):after {
	-webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+6):after {
	-webkit-text-stroke: 15px dodgerblue;
	text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+7):after {
	-webkit-text-stroke: 15px #0077ea;
}

.layer:last-child:after {
	-webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
	color: #fff;
	text-shadow: none;
}

@keyframes nice {
	100% {
		transform: rotateY(-5deg) rotateX(-8deg);
	}
}

.bodyStyle {

	font-family: VivaBeautiful;
	overflow: auto;
	


}

.htmlStyle {
	height: 100%;
	overflow: auto;
}

.arrow {
	transition: all .2s ease-in-out
}

.arrow:hover {
	color: purple;
	 transform: scale(1.3);
}


button {
	outline: none;
	
}
